#_chatContent{
    background-image: url("http://wazap.blogimg.jp/111702/imgs/c/3/c381e06f.jpg");
    background-size: cover;
}

.chatTimeLineBorder {
	border-top: 0px;
}
.chatTimeLineMessage .chatTimeLineMessageInner {
    border-top: 1px solid rgba(255, 255, 255, 0.0) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.0) !important;
}
.chatTimeLineMessage .chatTimeLineMessageHover {
  background: rgba(248, 251, 255, 0.5) !important;
  /*border-top: 1px solid #B1D6ED !important;
  border-bottom: 1px solid #B1D6ED !important;*/
}
.chatTimeLineMessage .actionNav {
  background: rgba(248, 251, 255, 0.5) !important;
}

.chatTimeLineMessageMine {
  text-align: right;
  background: rgba(255, 236, 236, 0.7) !important;
}
.chatTimeLineMessageMine .chatTimeLineMessageHover {
  background: rgba(255, 239, 239, 0.5) !important;
  /*border-top: 1px solid #ffc0cb !important;
  border-bottom: 1px solid #ffc0cb !important;*/
}
.chatTimeLineMessageMine .actionNav {
  background: rgba(255, 239, 239, 0.5) !important;
  border-right: 1px solid #ffc0cb !important;
  border-bottom: 1px solid #ffc0cb !important;
  border-left: 1px solid #ffc0cb !important;
}
.chatTimeLineMessageMine .chatInfo{
  text-align: left;
}
.chatTimeLineMessageMine .chatQuote{
  text-align: left;
}
.chatTimeLineMessageMine .chatCode{
  text-align: left;
}
.chatTimeLineMessageMine .avatarSpeaker {
  float: right;
  margin-top: 15px;
}

.chatTimeLineMessageMention {
  background: rgba(221, 235, 215, 0.7) !important;
}
.chatTimeLineMessageMention .chatTimeLineMessageHover {
  background: rgba(231, 239, 228, 0.5) !important;
  /*border-top: 1px solid #AED6AD !important;
  border-bottom: 1px solid #AED6AD !important;*/
}
.chatTimeLineMessageMention .actionNav {
  background: rgba(231, 239, 228, 0.5) !important;
}

.chatTimeLineMessage pre{
    background: #000;
    display: inline-block;
    position: relative;
    border: 1px solid #000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-left: 10px;
    padding: 5px;
    max-width: 90%;
    color: #ffe4b5;
}
.chatTimeLineMessage pre:before {
    content: "";
    display: inline-block;
    border: 10px solid transparent;
    border-right-color: #000;
    position: absolute;
    left: -20px;
    top: 13px;
    margin-top: -9px;
}
.chatTimeLineMessage pre:after {
    content: "";
    display: inline-block;
    border: 9px solid transparent;
    border-right-color: #000;
    position: absolute;
    left: -18px;
    top: 13px;
    margin-top: -8px;
}

.chatTimeLineMessageMention pre{
    background: #000;
    display: inline-block;
    position: relative;
    border: 1px solid #000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-left: 10px;
    padding: 5px;
}
.chatTimeLineMessageMention pre:before {
    content: "";
    display: inline-block;
    border: 10px solid transparent;
    border-right-color: #000;
    position: absolute;
    left: -20px;
    margin-top: -9px;
}
.chatTimeLineMessageMention pre:after {
    content: "";
    display: inline-block;
    border: 9px solid transparent;
    border-right-color: #000;
    position: absolute;
    left: -18px;
    margin-top: -8px;
}

.chatTimeLineMessageMine pre{
    background: #000;
    display: inline-block;
    position: relative;
    border: 1px solid #000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
    text-align:left;
    right:10px;
}
.chatTimeLineMessageMine pre:before {
    content: "";
    display: inline-block;
    border: 10px solid transparent;
    border-left-color: #000;
    position: absolute;
    left:auto;
    right: -20px;
    margin-top: -9px;
}
.chatTimeLineMessageMine pre:after {
    content: "";
    display: inline-block;
    border: 9px solid transparent;
    border-left-color: #000;
    position: absolute;
    left:auto;
    right: -18px;
    margin-top: -8px;
}
.chatInfo, .chatCode {
	color: #000;
}