#_chatContent {
	background-color: #6b92b9; 
	background-image: url('http://niwakasoft.jp/sample/0219/img/snow.png'), url('http://niwakasoft.jp/sample/0219/img/snow2.png'), url('http://niwakasoft.jp/sample/0219/img/snow3.png');
/*	-webkit-animation: snow 20s linear infinite;/*chrome&safari*/
	animation: snow 15s linear infinite;
}

@keyframes snow {
	0% {background-position: 0 0, 0 0, 0 0;}
	25% {background-position: 15px 125px, 25px 75px, -15px 100px;}
	50% {background-position: 5px 250px, 30px 150px, -10px 200px;}
	75% {background-position: 15px 375px, 25px 225px, -15px 300px;}
	100% {background-position: 0px 500px, 0px 300px, 0px 400px;}
}
/*chrome&safari
@-webkit-keyframes snow {
	0% {background-position: 0 0, 0 0, 0 0;}
	100% {background-position: 10px 500px, 100px 300px, 400px 400px;}
}*/


.chatTimeLineBorder {
	border-top: 0px;
}
.chatTimeLineMessage .chatTimeLineMessageInner {
    border-top: 1px solid rgba(255, 255, 255, 0.0) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.0) !important;
}
.chatTimeLineMessage .chatTimeLineMessageHover {
  background: rgba(248, 251, 255, 0.5) !important;
  /*border-top: 1px solid #B1D6ED !important;
  border-bottom: 1px solid #B1D6ED !important;*/
}
.chatTimeLineMessage .actionNav {
  background: rgba(248, 251, 255, 0.5) !important;
}

.chatTimeLineMessageMine {
  text-align: right;
  background: rgba(255, 236, 236, 0.7) !important;
}
.chatTimeLineMessageMine .chatTimeLineMessageHover {
  background: rgba(255, 239, 239, 0.5) !important;
  /*border-top: 1px solid #ffc0cb !important;
  border-bottom: 1px solid #ffc0cb !important;*/
}
.chatTimeLineMessageMine .actionNav {
  background: rgba(255, 239, 239, 0.5) !important;
  border-right: 1px solid #ffc0cb !important;
  border-bottom: 1px solid #ffc0cb !important;
  border-left: 1px solid #ffc0cb !important;
}
.chatTimeLineMessageMine .chatInfo{
  text-align: left;
}
.chatTimeLineMessageMine .chatQuote{
  text-align: left;
}
.chatTimeLineMessageMine .chatCode{
  text-align: left;
}
.chatTimeLineMessageMine .avatarSpeaker {
  float: right;
  margin-top: 15px;
}

.chatTimeLineMessageMention {
  background: rgba(221, 235, 215, 0.7) !important;
}
.chatTimeLineMessageMention .chatTimeLineMessageHover {
  background: rgba(231, 239, 228, 0.5) !important;
  /*border-top: 1px solid #AED6AD !important;
  border-bottom: 1px solid #AED6AD !important;*/
}
.chatTimeLineMessageMention .actionNav {
  background: rgba(231, 239, 228, 0.5) !important;
}

.chatTimeLineMessage pre{
    background: #fff;
    display: inline-block;
    position: relative;
    border: 1px solid #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-left: 10px;
    padding: 5px;
    max-width: 90%;
}
.chatTimeLineMessage pre:before {
    content: "";
    display: inline-block;
    border: 10px solid transparent;
    border-right-color: #fff;
    position: absolute;
    left: -20px;
    top: 13px;
    margin-top: -9px;
}
.chatTimeLineMessage pre:after {
    content: "";
    display: inline-block;
    border: 9px solid transparent;
    border-right-color: #fff;
    position: absolute;
    left: -18px;
    top: 13px;
    margin-top: -8px;
}

.chatTimeLineMessageMention pre{
    background: #fff;
    display: inline-block;
    position: relative;
    border: 1px solid #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-left: 10px;
    padding: 5px;
}
.chatTimeLineMessageMention pre:before {
    content: "";
    display: inline-block;
    border: 10px solid transparent;
    border-right-color: #fff;
    position: absolute;
    left: -20px;
    margin-top: -9px;
}
.chatTimeLineMessageMention pre:after {
    content: "";
    display: inline-block;
    border: 9px solid transparent;
    border-right-color: #fff;
    position: absolute;
    left: -18px;
    margin-top: -8px;
}

.chatTimeLineMessageMine pre{
    background: #fff;
    display: inline-block;
    position: relative;
    border: 1px solid #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
    text-align:left;
    right:10px;
}
.chatTimeLineMessageMine pre:before {
    content: "";
    display: inline-block;
    border: 10px solid transparent;
    border-left-color: #fff;
    position: absolute;
    left:auto;
    right: -20px;
    margin-top: -9px;
}
.chatTimeLineMessageMine pre:after {
    content: "";
    display: inline-block;
    border: 9px solid transparent;
    border-left-color: #fff;
    position: absolute;
    left:auto;
    right: -18px;
    margin-top: -8px;
}

.chatTimeLineMessage pre.hasImagePreview {
    background: rgba(255, 255, 255, 0.0);
    border: 1px solid rgba(255, 255, 255, 0.0);
}
.chatTimeLineMessage pre.hasImagePreview:before {
    border-left-color: rgba(255, 255, 255, 0.0);
    border-right-color: rgba(255, 255, 255, 0.0);
}
.chatTimeLineMessage pre.hasImagePreview:after {
    border-left-color: rgba(255, 255, 255, 0.0);
    border-right-color: rgba(255, 255, 255, 0.0);
}

@-webkit-keyframes elementInserted {  
  0% {opacity: 0;}
  100% {opacity: 1;}
}

div._chatTimeLineMessageBox.chatTimeLineMessageInner > div.chatTimeLineMessageArea.clearfix > pre > div > img.imagePreview {
  -webkit-animation: elementInserted 0.001s 1;
}